body {
  font-family: "Microsoft JhengHei", Helvetica, sans-serif;
  background: #c1e8e3;
  height: 100%;
  width: 100%;
  margin: 0;
}

.main-img {
  height: 100%;
  width: 100%;
}

.content {
  min-height: calc(100vh - 100px);
}

.content-el {
  min-height: calc(100vh - 100px);
}

.col-half {
  width: 50%;
}

.row,
.column {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.profile > .left {
  width: 64%;
}

.profile > .right {
  width: 36%;
}

.profile-img {
  width: 90%;
  height: auto;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.profile-info > div {
  width: 100%;
}

.navbar {
  font-family: "ITC Eras", "Microsoft JhengHei", "Helvetica Neue", Helvetica;
  font-size: 50px;
  text-align: center;
  padding-top: 15px;
  height: 80px;
  word-spacing: 30px;
  font-weight: 300;
}

.profile-info h1 {
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: bolder;
}

.profile-info h2 {
  font-size: 2rem;
  margin: 4em 0 1em 0;
}

.profile-info p {
  margin: 0;
  font-size: 2rem;
}

.modal {
  background: rgba(233, 233, 233, 0.9);
  position: absolute;
  width: 90%;
  top: 85px;
  left: 0;
  right: 0;
  margin: 0 5%;
  overflow: auto;
}

.modal .close {
  position: absolute;
  right: 0;
  top: 0;
  width: 3rem;
  height: 3rem;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 3rem;
  width: 5px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 5%;
}

.item2,
.item1 {
  margin: 0 0.5%;
  height: 80vh;
  cursor: pointer;
  color: #ffffff;
  opacity: 1;
}
.item1 {
  align-self: flex-start;
}
.item2 {
  align-self: center;
}
.item1:hover,
.item2:hover {
  transition-duration: 0.5s;
  opacity: 0.5;
  position: relative;
}
.item1:hover {
  bottom: 2px;
}
.item2:hover {
  top: 2px;
}

.item2-click,
.item1-click {
  margin: 0 0.5%;
  height: 80vh;
  color: #ffffff;
  opacity: 1;
}
.item1-click {
  align-self: flex-start;
}
.item2-click {
  align-self: center;
}

.modal-show {
  animation-name: modal-show;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.img-hid {
  animation-name: img-hid;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.img-click-hid {
  animation-name: img-click-hid;
  animation-delay: 1s;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes img-hid {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes img-click-hid {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes modal-show {
  0% {
    transform: scale(1,0);
  }
  50% {
    transform: scale(1,0);
  }
  100% {
    transform: scale(1,1);
  }
}
